<!DOCTYPE html>
<html>

	<head>

		<meta charset="UTF-8">

		<title>极光运维-用户登录</title>
	</head>

	<body>

	</body>

</html>

<script src="/static/assets/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://open.5jli.com/js/polar_login.js"></script>
<script>
	$(function(){
	
		Polar.login({
                appid: 'polar_yw',
                redirect_url: 'http://192.168.59.128:8000/login_for_polar/',
                loginType: 'MIX1',
                title: '极光文件传输平台',
                withBackground: false,
                positionLeftOffset: 0
            });
     
	})

</script>


